.footer {
    background-color: #000000;
    color: white;
    padding: 4rem;
}

.fotter-main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 13rem; */
    margin-bottom: 10px;
}

.footer-menu-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.footer-social-media-icons {
    display: flex;
    /* object-fit: fill; */
    /* width: inherit; */
    gap: 5%;
    margin-top: 10%;
    /* border: 2px solid red; */
}


.footer-social-media-icons img {
    /* width: 21px;
    height: 21px; */
}


.footer-logo img {
    width: 160px;
    /* object-fit: cover; */
    /* width: 100%; */
}

.footer-logo {
    /* display: flex;
    flex: 2;
    justify-content: center;
    margin: 20px; */

}


.footer-menu-1,
.footer-menu-2,
.footer-menu-3 {
    font-family: Inter;
    text-align: left;
    font-size: 14px;

}


.footer-menu-1 div,
.footer-menu-2 div,
.footer-menu-3 div {
    margin-bottom: 2rem;
}

.footer-menu-1 div span,
.footer-menu-2 div span,
.footer-menu-3 div span {
    margin-bottom: 0rem;
    font-weight: bolder;
}

.footer-menu-1 p,
.footer-menu-2 p,
.footer-menu-3 p {
    margin-bottom: 1.3rem;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    border: none;
    transform: scaleX(110%);
}

/* .horizontal-line {
    height: 0.01rem;
    width: 100%;
    background-color: dimgray;
    color: dimgray;
} */


.footer-final {
    margin: 10px 5px 0 0;
    display: flex;
    /* padding: 1rem; */
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0px auto;
}

.footer-final .divide {
    width: 3.5px;
    height: 2.5rem;
    background-color: dimgray;
}

.footer-final div {
    margin: 0rem;
}

.footer-copyright {
    text-align: center;
}